.idea
htmlcov
.editorconfig
.gitignore
.gitattributes
.pylintrc
docker-compose.yaml
.vscode
.venv
.ruff_cache
.pytest_cache
Makefile
LICENSE
README
__pycache__
.coverage
*__pycache__
**/__pycache__
**/*/__pycache__
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*__pycache__*
__pycache__/*
**/__pycache__/
.pre-commit-config.yaml

README.md
Makefile
LICENSE
docker-compose.yaml
Dockerfile
.coverage
media/
media/*
media